/* Cart Early return ⏬*/
    /* Componente EmptyCartMessage ⏬*/
.empty-cart-message{
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.empty-cart-message__title{
    color: #585858;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    max-width: 30ch;
    text-align: center;
}
    /* Fin Componente EmptyCartMessage ⏫*/
/* Fin Early Return ⏫*/
/*---------------------------*/
/* Cart ⏬*/
.cart-container{
    padding: 4rem ;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans", sans-serif;
    width: calc(100% - 8rem);
    background-color: #E8EDFB;
}
.cart-h1-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}
.cart-h1{
    font-size: 2.5rem;
    color: #564E56;
    font-weight: 600;
}
.cart-titles{
    padding-right: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.p-one{ 
    width: calc(40% + 1rem);
    font-weight: 600;  
    letter-spacing: .05rem;
    color: #564E56;
}
.p-two{
    width: calc(32% - 1rem);   
    font-weight: 600;  
    letter-spacing: .05rem;
    color: #564E56;
}
.p-three{  
    width: 28%; 
    font-weight: 600;  
    letter-spacing: .05rem;
    color: #564E56;
}
    /* Componente CartItemsContainer ⏬*/
.cart-products-container{
    padding: 1rem 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: #564E56;
}
.cart-product-item{
    display: flex;
    gap: 1rem;
    background-color: #fdfdfd;
    border-radius: .5rem;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 0 ;
    max-height: 140px ;
}
.cart-item__image-name-and-price{
    display: flex;
    gap: 2rem;
    width: 40%;
}
.cart-item__image{
    height: 140px;
    min-height: 140px;
}
.cart-item__name-quantity-and-price{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    max-width: 28ch;
    justify-content: flex-start;
    gap: .8rem;
}
.cart-item__product-name{
    font-size: 1.2rem;
    color: #564E56;
    font-weight: 600;
    margin: 0;
}
.price-per-unity{
    font-family: monospace;
    color: #a9a9a9;
    margin: 0;
}
.cart-item-second-half{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    margin: 0;
    width: 60%;
    justify-content: space-between;
    gap: 1rem;
}
.cart-item-count-and-price{
    display: flex;
    flex-direction: row;

}

        /* Componente CartItemCounter ⏬*/
.cart-item-count-container{
    justify-self: flex-start;
}
.cart-item-counter{
    align-self: center;
    justify-self:flex-start ;
    width: 200px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background-color: #eceaea;
}
.cart-item__controls{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
}
.cart-item__control-button{
    background: none;
    border: none;
    padding: 0 1rem;
    border-radius: 8px;
}
        /* Fin Componente CartItemCounter ⏫*/
.product-price{
    color: #55aa55;
    font-family: monospace;
    font-size: 1.125rem;
    width: 20%;
}
.delete-item-button{
    justify-self: flex-end;
    background-color: rgb(153, 153, 153);
    display: flex;
    border: none;
    padding: 3.625rem 1rem;
    justify-self: flex-end;
}
.delete-item-button:hover{
    background-color: rgb(243, 49, 49);
    display: flex;
    border: none;
    padding: 3.625rem 1rem;
    justify-self: flex-end;
}
    /* Fin Componente CartItemsContainer ⏫*/
.total-price{
    display: flex;
    align-self: flex-end;
    font-family: monospace;
    font-size: 1.25rem;
    padding: 2rem 0 0 0;
}
.cart-button-group{
    display: flex;
    align-self: flex-end;
    padding-top: 1rem;
    gap: 2rem;
}
.delete-cart-button{
    background: none;
    color:  #564E56;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8rem;
    width: fit-content;
    align-self: flex-end;
}
.delete-cart-button:hover{
    color: rgb(243, 49, 49);
    
}
.left-button{
    align-self: flex-end;
    margin-top: 2rem;
    
}














