.item-detail-container{
    width: 80%;
    padding: 120px 0;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-family: 'Anybody', sans-serif;
    color: #FCFBF8;
    justify-content: center;
    
}

.item-detail-container__image{
    width: 20vw;
    height: 20%;
     border-radius: 8px;
    ;
    
}

.item-detail-container__product-detail{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;

}
.item-detail-container__product-name{
 margin: 0;
 font-size: 2rem;
 max-width: 24ch;
 line-height: 2.4rem;
 letter-spacing: .04rem;
 font-weight: 600;
}

.item-detail-container__product-price{
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: .06rem;
    color: #999999;
}

.item-detail-container__product-description{
    margin: 0;
    color: #999999;
    margin-top: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    max-width: 54ch;
}
.item-detail-container__product-category{
    order: -1;
    margin: 0;
    font-size: .875rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #4C7EFF;
    
}
.item-count{
    margin: 0;
    font-family: 'Anybody', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    width: 72%;
}

.item-count__controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.item-count__control-button{
    background: none;
    color: #FCFBF8;
    border: none;
    padding: 0 1rem;
    border-radius: 8px;

}
.item-count__submit-button{
    font-family: "Anybody", sans-serif;
    background-color: #4C7EFF;
    color: #FCFcFc;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
}

.go-to-cart{
    font-family: "Anybody", sans-serif;
    background-color: #4C7EFF;
    color: #fdfdfd;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}
