.item-list-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 100vw;
    overflow: hidden;
}
/*---------------------------*/
/* Condicional Categorias ⏬*/
.categories-container{
    margin-top:8rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -.02rem;
    color: #564e5652;
    padding-left: 4rem;
}
.categories-container__span{
    color: #564E56;
    margin-left: .25rem;
    text-decoration: underline;
}
/*---------------------------*/
/* Condicional Home ⏬*/
.landing-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    margin: 5rem 0 0 0;
}
.hero-image{
    width: 100vw;
}
.welcome-message{
    font-family: "Work Sans", sans-serif;
    font-size: 2.5rem;
    color: #564E56;
    font-weight: 600;
    margin: 2rem auto 0 auto;   
}
/*---------------------------*/
/* Componente ItemList ⏬*/
.card-item-container{
    width: calc( 100% - 8rem);
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-items: center; 
    justify-content: flex-start;
    gap: 1rem;
    font-family: "Work Sans", sans-serif;
}
/*---------------------------*/
/* Componente Item ⏬*/
.card-item{
    margin: 0;
    max-width: calc( 25% -  .75rem); 
    flex-direction: column;
    display: flex;
    background-color: #fdfdfd;
    padding: 0 0 1.5rem 0; 
    border-radius: 8px;
    color: #564E56;
    gap: 1rem;
    justify-items:flex-start;
    overflow: hidden;
    text-decoration: none;   
}
.card-item:hover {
     box-shadow: 0 0 1rem #778b9423; 
}
.card-item__img{
    width: auto;
}
.card-item__product-title{
    font-family: "Work Sans" sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -.04rem;
    margin: .5rem 1.2rem 0 1rem;
}
.card-item__product-price{
    font-family: monospace;
    font-weight: 500;
    color: #55AA55;
    font-size: 1.125rem;
    margin: 0 1rem 1rem 1rem;
}
/*---------------------------*/
.loader-container{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}
