.card-item-container{
    width: calc( 100% - 8rem);
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-family: "Anybody", sans-serif;
}

.card-item{
    margin: 0;
    max-width: calc( 25% - .75rem); 
    /* max-width: calc( 33.33% - .666rem ); */
    flex-direction: column;
    display: flex;
    background-color: #282828;
    padding: 0 0 1.5rem 0; 
    border-radius: 8px;
    color: #fdfdfd;
    gap: 1rem;
    justify-items:flex-start;
    
    
    
    overflow: hidden;
    text-decoration: none;

}
.card-item__img{
    width: auto;
}

.card-item__product-title{
    margin: 0;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(1.2rem *1.25);
}

.card-item__product-price{
    margin: 0;
    color: rgb(11, 161, 11);
    font-size: 1rem;
    margin: 0 1rem;
}

.item-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-container {
        margin: 0 auto;
        align-self: center;
        padding: 120px auto;
}

.saludo{
    font-family: "Anybody", sans-serif;
    color: #FCFBF8;

}