.nav-bar {
    background-color: #001100;
    display: flex;
    max-width: 100vw;
    margin: 0 ;
    padding: 0 4rem;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgba(255, 255, 255, .2) ; */
}

.nav-bar a {
    margin: 0;
    text-decoration: none;
    color: #fdfdfd82;
    font-family: "Anybody", sans-serif;
    font-size: .8rem;
    letter-spacing: 0.02rem;
    line-height: .8rem;
}
.nav-bar a:hover {
    
    color: #fdfdfd
}


.img-logo {
    height: 24px;
    width: auto;
}
.nav-bar__menu-and-cart{
    display: flex;
    gap: 6rem;
}
.nav-bar__link-item-group {
    color: #fdfdfd;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-bar__list-item{
    font-family: sans-serif;
}

